body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-msg {
  color: red;
  /* padding: 10px; */
}

.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixd-header .am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-content {
  padding: 45px 5px;
}

.box {
  width: 100%;
  height: 47px;
}

.btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  border-radius: 5px 5px 0 0 !important;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.am-tab-bar {
  height: auto !important;
}

.chat-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#chat-page .msg-box-left {
  height: 40px;
  margin: 20px;
  display: flex;
}

#chat-page .msg-box-right {
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

#chat-page .revc-ava {
  width: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

#chat-page .recv-msg {
  max-width: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#chat-page .send-ava {
  width: 40px;
  margin-left: 10px;
  border-radius: 5px;
}

#chat-page .send-msg {
  max-width: 50%;
  background-color: #108ee9;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  float: right;
}

#chat-page .am-grid-icon {
  display: none;
}

#chat-page .am-grid-text {
  margin-top: 0;
  font-size: 16px;
}

#chat-page .send-btn{
  display: flex;
  align-items: center;
}