body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-msg {
  color: red;
  /* padding: 10px; */
}

.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixd-header .am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-content {
  padding: 45px 5px;
}

.box {
  width: 100%;
  height: 47px;
}

.btn {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  border-radius: 5px 5px 0 0 !important;
}

.marginBottom10 {
  margin-bottom: 10px;
}